<div class="centereddiv">
  <%= image_tag("atom.png", :size => "250x200") %>
<h1>Welcome to Project Manhattan!</h1><h2>- the race to build the atomic bomb -</h2><br/>
<%= form_tag controller: 'sessions', action: 'create', method: 'post' do %>
  <%= label_tag :user_name %><br/>
  <%= text_field_tag :user_name %><br/>
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %><br/><br/>
  <%= submit_tag 'Login' %><br/>
<% end %><br/>
No Username? <%= link_to 'Sign up', signup_path %>
</div>
