<%= image_tag("flag.png", :size => "250x200") %>
<h1>Change the Nation Name</h1>
<%= form_for @user do |f| %>
<b><%= f.label :user_name %></b><br/>
<%= @user.user_name %><br/><br/>
<b><%= f.label :nation_name %></b><br/>
<%= f.text_field :nation_name %><br/><br/>
<%= f.submit %><br/>
<% end %>
<br/><br/>

<h1>Change Password</h1>
<%= form_for @user do |f| %>

<b><%= f.label :current_password %></b><br/>
<%= f.password_field :current_password %><br/><br/>
<b><%= f.label :password %></b><br/>
<%= f.password_field :password %><br/><br/>
<b><%= f.label :password_confirmation %></b><br/>
<%= f.password_field :password_confirmation %><br/><br/>
<%= f.submit "Change Password" %><br/>
<% end %>

<br/>
<span class="message"><%= @message %></span>
