<%= image_tag("rocket.png", :size => "250x200") %>
<h1>Mission Control for <%= current_user.nation_name %> (<%= current_user.user_name %>)</h1>
<h3>Your Ongoing Races</h3>
<% if @challengeds.count + @challengers.count > 0 %>
<% @challengeds.each do |user| %>
<%= link_to user.user_name, match_path(Match.find_by(challenger: current_user, challenged: user)) %><br/>
<% end %>
<% @challengers.each do |user| %>
<%= link_to user.user_name, match_path(Match.find_by(challenger: user, challenged: current_user)) %><br/>
<% end %>
<% else %>
You have no ongoing matches.
<% end %>
<h3><%= link_to 'Challenge a Nation', '/matches/new' %><h3><br/>
