<h1>Initiate a Match</h1>

<h2>Challenge A Known User</h2>
<%= form_for @match do |f| %>
<b><%= f.label :challenger %></b><br/>
<%= current_user.user_name %><br/><br/>
<b><%= f.label :challenged, 'Challenges (username)' %></b><br/>
<%= f.text_field :challenged %><br/>
<%= f.submit 'Challenge' %><br/>
<% end %>
<br/>

<h2>Nations Waiting for a Challenge</h2>
<% if @display_potential_challengeds.count < 1 %>
Sorry, all nations are busy at the moment. Please try again later.<br/>
<% else %>
<% @display_potential_challengeds.each do |user| %>
  <%= form_for @match do |f| %>
    <%= f.hidden_field :challenged, :value => user.user_name %><br/>
    <%= f.submit "Challenge #{user.user_name}" %><br/>
  <% end %>
<% end %>
<% end %>
