<h1><%= @match.challenger.nation_name %> vs. <%= @match.challenged.nation_name %></h1>
<h3>This match is still pending.</h3>
<% if @match.is_challenged?(current_user) %><br/>
  <%= form_tag controller: 'matches', action: 'decide_to_accept', method: 'post' do %>
    <%= hidden_field_tag :accepted, "true" %>
    <%= hidden_field_tag :id, @match.id %>
    <%= submit_tag 'Accept the challenge' %>
  <% end %><br/>
<% else %>
<h3>Please wait for your opponent to accept the challenge.</h3>
<% end %>
<%= form_tag controller: 'matches', action: 'decide_to_accept', method: 'post' do %>
  <%= hidden_field_tag :accepted, "false" %>
  <%= hidden_field_tag :id, @match.id %>
  <%= submit_tag 'Reject the challenge' %>
<% end %><br/>
<h2><%= link_to " Back to Mission Control", matches_path %></h2>
