<div class="container">
<div class="row question">
    <div class="col-md">
        <h2>Question:</h2><br/>
        <% if current_user.id == @match.current_turn_user_id %>
        Current Question asked by the <%= @random_q.person.name %>:<br/>
        <%= @random_q.question %><br/>
          <%= form_tag "/matches/#{@match.id}" do %>
            <% @random_q.hash_of_options.each do |option, answer| %>
              <%= radio_button_tag(:'question[option]', "#{option}") %> <%= option %><br/>
            <% end %>
            <%= submit_tag 'Answer' %>
          <% end %>
        <% else %>
        Wait for your opponent.<br/><br/><br/>
        <%= link_to "Refresh", match_path(@match) %><br/><br/>
        <% end %>
    </div>
</div>

<div class="row">
          <div class="col-md-4">
            <h2>Your Team:</h2><br/>
            <%= @team["physicist"] %> Physicist(s)<br/>
            <%= @team["chemist"] %> Chemist(s)<br/>
            <%= @team["mathematician"] %> Mathematician(s)<br/>
            <%= @team["politician"] %> Politician(s)
          </div>

          <div class="col-md-4">
            <h2>Security Breaches</h2><br/>
            <%= @match.challenger.user_name %>: <%= @match.challenger_strikes %><br/>
            <%= @match.challenged.user_name %>: <%= @match.challenged_strikes %><br/><br/>
          </div>
          <div class="col-md-4">
            <h2>Send a Spy</h2><br/>
            <% if @espionage %>
            <%= submit_tag 'Espionage' %>
            <% else %>
            <%= submit_tag 'Espionage', disabled: true %>
            <% end %>
          </div>
</div>

<h2><%= link_to "Resign", destroy_match_path(@match), method: :delete, confirm: "Are you sure?" %></h2>
</div>
