<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var challenger = "<%= @match.challenger.nation_name %>";
    var challenged = "<%= @match.challenged.nation_name %>";

    var data = new google.visualization.DataTable();

    data.addColumn('string', 'Nation');
    data.addColumn('number', 'Year');
    data.addRows([
      [challenger, (1.625*<%= @match.challenger.user_questions.where(match_id: @match.id).count %>)+1919],
      [challenged, (1.625*<%= @match.challenged.user_questions.where(match_id: @match.id).count %>)+1919]
    ]);

    var options = {'title':'Timeline',
                   'width':700,
                   'height':300,
                   hAxis: {
                   viewWindow: {
                       min: 1919,
                       max: 1945
                   },
                   ticks: [1919, 1925, 1930, 1935, 1940, 1945] // display labels every 25
                    },
                   colors: ['#AA0000', '#0011FF']
                 };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<div class="container">

<div class="row">
      <h1><%= @match.challenger.nation_name %> vs. <%= @match.challenged.nation_name %></h1>
  </div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag("atomic.png", :size => "250x200") %>
  </div>
  <div class="col-md-3">
    <center><div id="chart_div"></div></center>
  </div>
</div>

<div class="row question">
        <% if @espionage_on_you %><span class="err_msgs"><h2>YOU ARE BEING SPIED ON!<br/>You must answer this question correctly to avoid poaching.</h2></span><% end %>
        <% if @espionage_on_opponent %><span class="err_msgs"><h2>Your spy is attempting to poach from your opponent's team.</h2></span><% end %>

        <% if current_user.id == @match.current_turn_user_id %>
        <h2>Question:</h2><br/>
        The <%= @question.person.name %> asks:<br/>

        <%= @question.question %><br/>
          <%= form_tag "/matches/#{@match.id}" do %>
            <% @question.hash_of_options.each do |option, answer| %>
              <%= radio_button_tag(:'question[option]', "#{option}") %> <%= option %><br/>
            <% end %><br/>
            <%= submit_tag 'Answer' %><br/><br/>
            <br/>
          <% end %>
        <% else %>

        <% if @correctness_msg == nil %>
          <br/>
        <% elsif @correctness_msg == true %>
          <span class="correct"><h2><b>Congratulations. A <%=@question.person.name.downcase%> just joined your team!</b></h2></span>
        <% elsif @correctness_msg == false %>
          <span class="incorrect"><h2><b>Wrong! The <%=@question.person.name.downcase%> didn't join your team.</b></h2></span>
        <% end %>
        <br/>
        Wait for your opponent.<br/><br/>
        <%= link_to "Refresh", match_path(@match) %><br/><br/><br/>
        <% end %>

</div>

<div class="row">
          <div class="col-md-3">
            <h2>Your Team:</h2>
            <% @team.each do |person, amount| %>
            <%= amount %> <%= person.capitalize %><% if amount != 1 %>s<% end %><br/>
            <% end %>
          </div>
          <div class="col-md-3">
            <h2>Timeline</h2>
            <%= @message %>
          </div>
          <div class="col-md-3">
            <h2>Security Breaches</h2>
            <%= @match.challenger.user_name %>: <%= @match.challenger_strikes %><br/>
            <%= @match.challenged.user_name %>: <%= @match.challenged_strikes %><br/><br/>
          </div>
          <div class="col-md-3">
            <h2>Send a Spy</h2>
            (available after 3 breaches)<br/><br/>
            <%= form_tag controller: 'matches', action: 'espionage_on', method: 'post' do %>
              <%= hidden_field_tag :id, @match.id %>
              <% if @espionage %>
              <%= submit_tag 'Espionage' %>
              <% else %>
              <%= submit_tag 'Espionage', disabled: 'true' %>
              <% end %>
            <% end %>
          </div>

</div>

<h2><%= link_to "Resign", destroy_match_path(@match), method: :delete, confirm: "Are you sure?" %></h2>
</div>
