<h1><%= @match.challenger.nation_name %> versus <%= @match.challenged.nation_name %></h1><br/>

Current Question asked by the <%= @random_q.person.name %>:<br/>
<%= link_to @random_q.question, wrong_answer_path %><br/>
<%= link_to @random_q.option_a, wrong_answer_path %><br/>
<%= link_to @random_q.option_b, wrong_answer_path %><br/>
<%= link_to @random_q.option_c, wrong_answer_path %><br/>
<%= link_to @random_q.option_d, wrong_answer_path %><br/>
<%= link_to @random_q.answer, correct_answer_path %><br/>
