<!DOCTYPE html>
<html>
  <head>
    <title>ManhattanProjectGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4>
      <% if logged_in? %>
      Logged in as <%= current_user.user_name %> | Nation: <%= current_user.nation_name %> | <%= link_to "Rules", rules_path %>
      [<%= link_to "Logout", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>]<br/><br/>
      <%= link_to "Mission Control", matches_path %>
      <% else %>
      <%= link_to "Rules", rules_path %> [<%= link_to 'Login', login_path %>]
      <% end %>
    </h4>
    <center><%= yield %></center>
  </body>
</html>
