<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>The Manhattan Project Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="topnav">

      <% if logged_in? %>

      <%= link_to "Mission Control", matches_path %> |
      <%= link_to "Rename Nation", edit_user_path(current_user) %> |
      <% else %>
      <%= link_to 'Login', login_path %> |
      <%= link_to 'Sign Up', signup_path %> |
      <% end %>
      <%= link_to "Rules", rules_path %> |
      <%= link_to "Rankings", users_path %>
</div>

<div class="rightalign">
<% if logged_in? %>

      <b>Logged in as <%= current_user.user_name %> [<%= link_to "Logout", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>] |
      Nation: <%= current_user.nation_name %></b>
      <% end %>
    </div>



    <div class="outeralign">

        <%= yield %>

    </div>

  </body>





</html>
