<!DOCTYPE html>
<html>
  <head>
    <title>ManhattanProjectGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4>
      <% if logged_in? %>
      Logged in as <%= current_user.user_name %> [<%= link_to "Logout", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>] |
      Nation: <%= current_user.nation_name %> |
      <%= link_to "Mission Control", matches_path %> |
      <%= link_to "Rename Nation", edit_user_path(current_user) %> |
      <% else %>
      <%= link_to 'Login', login_path %> |
      <% end %>
      <%= link_to "Rules", rules_path %> |
      <%= link_to "Rankings", users_path %>
    </h4>
    <center><%= yield %></center>
  </body>
</html>
