<!DOCTYPE html>
<html>
  <head>
    <title>ManhattanProjectGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4><% if logged_in? %>Logged in as <%= current_nation.nation_name %> [<%= link_to "Log Out", {:controller => :sessions, :action => 'destroy' }, :method => :delete %>]<% else %>[<%= link_to 'Log In', login_path %>]<% end %> </h4>
    <%= yield %>
  </body>
</html>
